  @import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
 }
 a.active {
  text-decoration: underline;
  font-weight: 600;
  font-size:larger;
  color: #135a23;
}

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
@keyframes bounce-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

.bounce-slow {
  animation: bounce-slow 2s infinite;
}
html {
  scroll-behavior: smooth;
}
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
  --color-primary: #17483d;  
  --color-secondary: #a3e635;
}
